In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# from sklearn.preprocessing import ProfileReport

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, f1_score,confusion_matrix,classification_report

In [2]:
train_data = pd.read_csv('existing_base_train.csv')

In [3]:
train_data.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
0,5466,2,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,8.98,55.44,7.68,Female,North West,151.55,81.79,136.02,360.37,2
1,9091,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,18.99,Female,North West,44.28,13.91,29.23,89.22,2
2,9744,1,36-40,Partner,Manual Worker,Manual Worker,Rent Privately,"<22,500, >=20,000",Yes,Yes,...,0.00,0.00,0.00,Female,South West,8.58,1.75,4.82,14.50,2
3,10700,2,31-35,Partner,Manual Worker,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,Female,Scotland,15.00,0.00,5.00,68.98,2
4,1987,Zero,55-60,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,Female,Unknown,0.00,1.66,1.66,1.88,2

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   object
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average_Credit_Card_Transaction  8124 non-null   float64
 15  Balance_Transfer                 8124 non-null   float64
 16  Term_Deposit                     8124 non-null   float64
 17  Life_Insurance                   8124 non-null   float64
 18  Medical_Insurance                8124 non-null   float64
 19  Average_A/C_Balance              8124 non-null   float64
 20  Personal_Loan                    8124 non-null   float64
 21  Investment_in_Mutual_Fund        8124 non-null   float64
 22  Investment_Tax_Saving_Bond       8124 non-null   float64
 23  Home_Loan                        8124 non-null   float64
 24  Online_Purchase_Amount           8124 non-null   float64
 25  gender                           8124 non-null   object
 26  region                           8124 non-null   object
 27  Investment_in_Commudity          8124 non-null   float64
 28  Investment_in_Equity             8124 non-null   float64
 29  Investment_in_Derivative         8124 non-null   float64
 30  Portfolio_Balance                8124 non-null   float64
 31  Revenue_Grid                     8124 non-null   int64
dtypes: float64(15), int64(3), object(14)
memory usage: 2.0+ MB

In [5]:
train_data.isnull().sum()

REF_NO                             0
children                           0
age_band                           0
status                             0
occupation                         0
occupation_partner                 0
home_status                        0
family_income                      0
self_employed                      0
self_employed_partner              0
year_last_moved                    0
TVarea                             0
post_code                          0
post_area                          0
Average_Credit_Card_Transaction    0
Balance_Transfer                   0
Term_Deposit                       0
Life_Insurance                     0
Medical_Insurance                  0
Average_A/C_Balance                0
Personal_Loan                      0
Investment_in_Mutual_Fund          0
Investment_Tax_Saving_Bond         0
Home_Loan                          0
Online_Purchase_Amount             0
gender                             0
region                             0
Investment_in_Commudity            0
Investment_in_Equity               0
Investment_in_Derivative           0
Portfolio_Balance                  0
Revenue_Grid                       0
dtype: int64

In [6]:
for col in train_data.columns:
    if train_data[col].dtype=='object':
        print(col)
        print(train_data[col].value_counts())

children
Zero    4991
1       1474
2       1271
3        375
4+        13
Name: children, dtype: int64
age_band
45-50      1098
41-45       903
36-40       895
55-60       865
31-35       840
51-55       833
26-30       735
61-65       700
65-70       468
22-25       356
71+         337
18-21        50
Unknown      44
Name: age_band, dtype: int64
status
Partner                 6124
Single/Never Married     881
Divorced/Separated       569
Widowed                  510
Unknown                   40
Name: status, dtype: int64
occupation
Professional         1949
Retired              1799
Secretarial/Admin    1435
Housewife             984
Business Manager      578
Manual Worker         451
Unknown               449
Other                 432
Student                47
Name: occupation, dtype: int64
occupation_partner
Unknown              1942
Professional         1620
Retired              1558
Manual Worker        1222
Business Manager      575
Secretarial/Admin     510
Housewife             422
Other                 261
Student                14
Name: occupation_partner, dtype: int64
home_status
Own Home                7506
Rent from Council/HA     279
Rent Privately           205
Live in Parental Hom      90
Unclassified              44
Name: home_status, dtype: int64
family_income
>=35,000             2014
<27,500, >=25,000     969
<30,000, >=27,500     796
<25,000, >=22,500     656
<12,500, >=10,000     535
<20,000, >=17,500     525
<17,500, >=15,000     521
<15,000, >=12,500     508
<22,500, >=20,000     479
<10,000, >= 8,000     452
< 8,000, >= 4,000     328
< 4,000               233
Unknown               108
Name: family_income, dtype: int64
self_employed
No     7543
Yes     581
Name: self_employed, dtype: int64
self_employed_partner
No     7207
Yes     917
Name: self_employed_partner, dtype: int64
TVarea
Central          1294
Carlton          1237
Meridian          977
Yorkshire         847
Granada           824
HTV               683
Anglia            597
Tyne Tees         433
Scottish TV       406
TV South West     286
Grampian          175
Unknown           154
Ulster            135
Border             76
Name: TVarea, dtype: int64
post_code
NP18 3TJ    2
S70 5JE     2
S65 3DL     2
CM6 2JA     2
G64 3PL     2
           ..
LE9 7DA     1
M33 5RN     1
NW10 3NU    1
SN4 9AF     1
TS16 0HG    1
Name: post_code, Length: 8050, dtype: int64
post_area
PR5     28
TQ12    22
WA4     22
PR4     21
PR8     21
        ..
TN9      1
PA19     1
TR16     1
OL5      1
SS4      1
Name: post_area, Length: 1937, dtype: int64
gender
Female     6106
Male       1987
Unknown      31
Name: gender, dtype: int64
region
South East          1680
North West          1517
Unknown              866
South West           769
West Midlands        658
East Midlands        623
Scotland             615
North                460
Wales                437
East Anglia          344
Northern Ireland     135
Isle of Man           15
Channel Islands        5
Name: region, dtype: int64

In [7]:
train_data['children'] = train_data['children'].replace('Zero' , int(0))
train_data['children'] = train_data['children'].replace('4+' , int(4))

In [8]:
train_data['children'] = pd.to_numeric(train_data['children'])

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   int64
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average_Credit_Card_Transaction  8124 non-null   float64
 15  Balance_Transfer                 8124 non-null   float64
 16  Term_Deposit                     8124 non-null   float64
 17  Life_Insurance                   8124 non-null   float64
 18  Medical_Insurance                8124 non-null   float64
 19  Average_A/C_Balance              8124 non-null   float64
 20  Personal_Loan                    8124 non-null   float64
 21  Investment_in_Mutual_Fund        8124 non-null   float64
 22  Investment_Tax_Saving_Bond       8124 non-null   float64
 23  Home_Loan                        8124 non-null   float64
 24  Online_Purchase_Amount           8124 non-null   float64
 25  gender                           8124 non-null   object
 26  region                           8124 non-null   object
 27  Investment_in_Commudity          8124 non-null   float64
 28  Investment_in_Equity             8124 non-null   float64
 29  Investment_in_Derivative         8124 non-null   float64
 30  Portfolio_Balance                8124 non-null   float64
 31  Revenue_Grid                     8124 non-null   int64
dtypes: float64(15), int64(4), object(13)
memory usage: 2.0+ MB

In [10]:
train_data.corr()

,REF_NO,children,year_last_moved,Average_Credit_Card_Transaction,Balance_Transfer,Term_Deposit,Life_Insurance,Medical_Insurance,Average_A/C_Balance,Personal_Loan,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
REF_NO,1.000000,0.009778,0.026152,-0.003218,-0.006604,0.003851,0.010882,0.019814,-0.003665,-0.008298,-0.003864,0.006365,-0.016627,0.004514,0.005642,-0.004075,0.002685,0.002762,-0.019852
children,0.009778,1.000000,0.061964,0.005963,0.028426,0.018534,0.047270,0.008443,0.023896,0.096865,0.030664,0.049536,0.039695,0.022017,0.039333,0.074177,0.070616,0.058857,-0.011908
year_last_moved,0.026152,0.061964,1.000000,0.014315,0.013267,0.006197,0.010292,0.012969,0.007945,0.017261,0.000847,0.013398,0.006490,0.010721,0.016565,0.016056,0.014580,0.017924,-0.019630
Average_Credit_Card_Transaction,-0.003218,0.005963,0.014315,1.000000,0.122762,0.317612,0.142606,0.416773,0.178150,0.089357,0.147438,0.131641,0.103417,0.135466,0.494653,0.208564,0.227267,0.334657,-0.260559
Balance_Transfer,-0.006604,0.028426,0.013267,0.122762,1.000000,0.225434,0.579267,0.162104,0.364480,0.390466,0.476061,0.152481,0.155322,0.103240,0.745051,0.482565,0.603648,0.655522,-0.068647
Term_Deposit,0.003851,0.018534,0.006197,0.317612,0.225434,1.000000,0.277802,0.509060,0.274553,0.141514,0.200841,0.181591,0.179143,0.102339,0.617357,0.263169,0.348750,0.451947,-0.017412
Life_Insurance,0.010882,0.047270,0.010292,0.142606,0.579267,0.277802,1.000000,0.231832,0.507877,0.411186,0.557926,0.257747,0.281339,0.117841,0.806732,0.572773,0.845890,0.792836,-0.201998
Medical_Insurance,0.019814,0.008443,0.012969,0.416773,0.162104,0.509060,0.231832,1.000000,0.266829,0.101725,0.202282,0.215206,0.144905,0.149324,0.545814,0.267200,0.382948,0.433584,-0.102217
Average_A/C_Balance,-0.003665,0.023896,0.007945,0.178150,0.364480,0.274553,0.507877,0.266829,1.000000,0.193468,0.437742,0.302556,0.377556,0.160302,0.517854,0.580203,0.637153,0.599855,-0.114258
Personal_Loan,-0.008298,0.096865,0.017261,0.089357,0.390466,0.141514,0.411186,0.101725,0.193468,1.000000,0.424295,0.224014,0.125360,0.079820,0.403742,0.685400,0.703672,0.618259,0.022841
Investment_in_Mutual_Fund,-0.003864,0.030664,0.000847,0.147438,0.476061,0.200841,0.557926,0.202282,0.437742,0.424295,1.000000,0.253396,0.254454,0.091961,0.546054,0.695245,0.774477,0.704382,-0.110020
Investment_Tax_Saving_Bond,0.006365,0.049536,0.013398,0.131641,0.152481,0.181591,0.257747,0.215206,0.302556,0.224014,0.253396,1.000000,0.265688,0.210463,0.283441,0.433097,0.393994,0.384120,-0.285376
Home_Loan,-0.016627,0.039695,0.006490,0.103417,0.155322,0.179143,0.281339,0.144905,0.377556,0.125360,0.254454,0.265688,1.000000,0.093602,0.277117,0.341497,0.333903,0.327759,-0.030976
Online_Purchase_Amount,0.004514,0.022017,0.010721,0.135466,0.103240,0.102339,0.117841,0.149324,0.160302,0.079820,0.091961,0.210463,0.093602,1.000000,0.172808,0.598823,0.163397,0.302928,-0.382081
Investment_in_Commudity,0.005642,0.039333,0.016565,0.494653,0.745051,0.617357,0.806732,0.545814,0.517854,0.403742,0.546054,0.283441,0.277117,0.172808,1.000000,0.595569,0.807580,0.862778,-0.199248
Investment_in_Equity,-0.004075,0.074177,0.016056,0.208564,0.482565,0.263169,0.572773,0.267200,0.580203,0.685400,0.695245,0.433097,0.341497,0.598823,0.595569,1.000000,0.837044,0.833036,-0.255826
Investment_in_Derivative,0.002685,0.070616,0.014580,0.227267,0.603648,0.348750,0.845890,0.382948,0.637153,0.703672,0.774477,0.393994,0.333903,0.163397,0.807580,0.837044,1.000000,0.927988,-0.154281
Portfolio_Balance,0.002762,0.058857,0.017924,0.334657,0.655522,0.451947,0.792836,0.433584,0.599855,0.618259,0.704382,0.384120,0.327759,0.302928,0.862778,0.833036,0.927988,1.000000,-0.210170
Revenue_Grid,-0.019852,-0.011908,-0.019630,-0.260559,-0.068647,-0.017412,-0.201998,-0.102217,-0.114258,0.022841,-0.110020,-0.285376,-0.030976,-0.382081,-0.199248,-0.255826,-0.154281,-0.210170,1.000000

In [11]:
train_data[['Home_Loan' , 'Online_Purchase_Amount']].corr()

                        Home_Loan  Online_Purchase_Amount
Home_Loan                1.000000                0.093602
Online_Purchase_Amount   0.093602                1.000000

In [43]:
le = LabelEncoder()

In [13]:
x = train_data.drop(['Revenue_Grid' , 'REF_NO'],axis = 1)
y = train_data['Revenue_Grid']

In [14]:
for col in x.columns:
    if x[col].dtype == 'object':
        x[col] = le.fit_transform(x[col])

In [15]:
x.head()

,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,year_last_moved,...,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance
0,2,3,1,4,4,1,11,0,0,1981,...,134.35,8.98,55.44,7.68,0,5,151.55,81.79,136.02,360.37
1,0,6,1,6,4,1,11,0,0,1997,...,0.00,0.00,0.00,18.99,0,5,44.28,13.91,29.23,89.22
2,1,4,1,2,2,2,7,1,1,1996,...,10.46,0.00,0.00,0.00,0,9,8.58,1.75,4.82,14.50
3,2,3,1,2,2,1,8,0,0,1990,...,0.00,0.00,0.00,0.00,0,7,15.00,0.00,5.00,68.98
4,0,8,1,1,4,1,11,0,0,1989,...,9.98,0.00,0.00,0.00,0,10,0.00,1.66,1.66,1.88

In [16]:
log_reg = LogisticRegression()

In [17]:
log_reg.fit(x,y)

C:\Users\rashm\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
y_hat = log_reg.predict(x)

In [19]:
y_hat_train = pd.DataFrame(y_hat)

In [20]:
report = classification_report(y, y_hat_train)

In [21]:
print(report)

              precision    recall  f1-score   support

           1       0.82      0.61      0.70       860
           2       0.96      0.98      0.97      7264

    accuracy                           0.95      8124
   macro avg       0.89      0.80      0.84      8124
weighted avg       0.94      0.95      0.94      8124

In [22]:
test_data = pd.read_csv('existing_base_test.csv')

In [23]:
test_data.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance
0,697,Zero,71+,Partner,Retired,Housewife,Own Home,"<12,500, >=10,000",No,No,...,45.97,0.00,0.00,0.00,Male,South West,40.48,15.07,28.40,83.05
1,7897,Zero,31-35,Partner,Unknown,Business Manager,Own Home,">=35,000",No,No,...,133.88,27.45,13.47,57.46,Male,South East,27.07,72.01,82.74,235.29
2,4729,Zero,71+,Partner,Housewife,Retired,Own Home,"<15,000, >=12,500",No,No,...,107.88,0.00,0.00,0.00,Female,South West,44.39,32.62,43.86,98.38
3,6914,1,22-25,Partner,Other,Other,Own Home,"<17,500, >=15,000",No,No,...,44.96,0.00,0.00,0.00,Female,Scotland,21.59,24.57,29.23,86.32
4,2795,Zero,65-70,Widowed,Retired,Unknown,Own Home,"< 4,000",No,No,...,33.96,6.99,17.93,5.45,Female,South East,53.66,16.22,32.89,102.99

In [52]:
test_data['children'] = test_data['children'].replace('Zero' , int(0))
test_data['children'] = test_data['children'].replace('4+' , int(4))
test_data['children'] = pd.to_numeric(test_data['children'])

In [53]:
x_test = test_data.drop('REF_NO',axis = 1)

In [54]:
x_test.head()

,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,year_last_moved,...,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance
0,0,71+,Partner,Retired,Housewife,Own Home,"<12,500, >=10,000",No,No,1973,...,45.97,0.00,0.00,0.00,Male,South West,40.48,15.07,28.40,83.05
1,0,31-35,Partner,Unknown,Business Manager,Own Home,">=35,000",No,No,1996,...,133.88,27.45,13.47,57.46,Male,South East,27.07,72.01,82.74,235.29
2,0,71+,Partner,Housewife,Retired,Own Home,"<15,000, >=12,500",No,No,1958,...,107.88,0.00,0.00,0.00,Female,South West,44.39,32.62,43.86,98.38
3,1,22-25,Partner,Other,Other,Own Home,"<17,500, >=15,000",No,No,1993,...,44.96,0.00,0.00,0.00,Female,Scotland,21.59,24.57,29.23,86.32
4,0,65-70,Widowed,Retired,Unknown,Own Home,"< 4,000",No,No,1976,...,33.96,6.99,17.93,5.45,Female,South East,53.66,16.22,32.89,102.99

In [55]:
for col in x_test.columns:
    if x_test[col].dtype == 'object':
        x_test[col] = le.fit_transform(x_test[col])

In [56]:
x_test.head()

,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,year_last_moved,...,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,gender,region,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance
0,0,11,1,5,1,1,3,0,0,1973,...,45.97,0.00,0.00,0.00,1,8,40.48,15.07,28.40,83.05
1,0,3,1,8,0,1,11,0,0,1996,...,133.88,27.45,13.47,57.46,1,7,27.07,72.01,82.74,235.29
2,0,11,1,1,5,1,4,0,0,1958,...,107.88,0.00,0.00,0.00,0,8,44.39,32.62,43.86,98.38
3,1,1,1,3,3,1,5,0,0,1993,...,44.96,0.00,0.00,0.00,0,6,21.59,24.57,29.23,86.32
4,0,10,4,5,8,1,0,0,0,1976,...,33.96,6.99,17.93,5.45,0,7,53.66,16.22,32.89,102.99

In [59]:
y_hat_test = log_reg.predict(x_test)

In [60]:
y_hat_test = pd.DataFrame(y_hat_test)

In [61]:
y_hat_test['REF_NO'] = test_data['REF_NO']

In [75]:
y_hat_test.to_csv('Cust_class_submission.csv',index=False, header=False)

In [64]:
train_data.shape

(8124, 32)

In [65]:
train_data['Revenue_Grid'].value_counts()

2    7264
1     860
Name: Revenue_Grid, dtype: int64

In [66]:
860/7264

0.1183920704845815

In [68]:
train_data['region'].value_counts()

South East          1680
North West          1517
Unknown              866
South West           769
West Midlands        658
East Midlands        623
Scotland             615
North                460
Wales                437
East Anglia          344
Northern Ireland     135
Isle of Man           15
Channel Islands        5
Name: region, dtype: int64

In [69]:
train_data.columns

Index(['REF_NO', 'children', 'age_band', 'status', 'occupation',
       'occupation_partner', 'home_status', 'family_income', 'self_employed',
       'self_employed_partner', 'year_last_moved', 'TVarea', 'post_code',
       'post_area', 'Average_Credit_Card_Transaction', 'Balance_Transfer',
       'Term_Deposit', 'Life_Insurance', 'Medical_Insurance',
       'Average_A/C_Balance', 'Personal_Loan', 'Investment_in_Mutual_Fund',
       'Investment_Tax_Saving_Bond', 'Home_Loan', 'Online_Purchase_Amount',
       'gender', 'region', 'Investment_in_Commudity', 'Investment_in_Equity',
       'Investment_in_Derivative', 'Portfolio_Balance', 'Revenue_Grid'],
      dtype='object')

In [70]:
train_data.groupby('occupation')['status'].count()

occupation
Business Manager      578
Housewife             984
Manual Worker         451
Other                 432
Professional         1949
Retired              1799
Secretarial/Admin    1435
Student                47
Unknown               449
Name: status, dtype: int64

In [71]:
train_data.describe()

,REF_NO,children,year_last_moved,Average_Credit_Card_Transaction,Balance_Transfer,Term_Deposit,Life_Insurance,Medical_Insurance,Average_A/C_Balance,Personal_Loan,Investment_in_Mutual_Fund,Investment_Tax_Saving_Bond,Home_Loan,Online_Purchase_Amount,Investment_in_Commudity,Investment_in_Equity,Investment_in_Derivative,Portfolio_Balance,Revenue_Grid
count,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.00000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000
mean,5797.343304,0.639217,1967.876908,23.251094,46.082922,27.284649,65.317939,18.826195,31.838023,25.41583,41.723628,6.057246,4.416914,19.198658,36.152749,21.442475,31.530652,89.353368,1.894141
std,3322.497568,0.916396,182.563785,51.147496,79.084692,54.133537,95.762451,32.022332,45.249440,85.13015,64.416023,12.673374,9.945747,92.343126,42.474953,32.261660,39.480660,108.303538,0.307676
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-78.430000,1.000000
25%,2924.750000,0.000000,1978.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,8.282500,4.660000,8.740000,26.277500,2.000000
50%,5811.500000,0.000000,1988.000000,0.000000,17.485000,0.000000,31.475000,0.010000,14.980000,0.00000,23.480000,0.000000,0.000000,0.000000,23.590000,12.820000,21.140000,65.560000,2.000000
75%,8681.500000,1.000000,1994.000000,23.480000,64.990000,34.490000,92.887500,26.970000,45.922500,20.82750,59.440000,5.490000,4.490000,7.480000,49.795000,27.972500,42.392500,123.970000,2.000000
max,11518.000000,4.000000,1999.000000,662.260000,2951.760000,784.820000,2930.410000,591.040000,626.240000,4905.93000,2561.270000,156.870000,162.350000,4306.420000,1231.090000,1279.100000,1771.160000,4283.560000,2.000000

In [73]:
train_data['Average_Credit_Card_Transaction'].quantile(0.98)

198.48

In [74]:
train_data['age_band'].value_counts()

45-50      1098
41-45       903
36-40       895
55-60       865
31-35       840
51-55       833
26-30       735
61-65       700
65-70       468
22-25       356
71+         337
18-21        50
Unknown      44
Name: age_band, dtype: int64